/*General*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


a {
	text-decoration: none;
}

#logo h3 {
	font-family: 'Cabin Sketch', cursive;
	margin: 20px 0;
	float: left;
	color: #fff;
}

.container {
	margin: auto;
	overflow: hidden;
	width: 90%;
}

header {
	background-color: transparent;
}

#slideshow {
	position: relative;
	
	height: 720px;
}

#slideshow:after {
	content: "";
	position: absolute;
	background-image: url('../img/pic-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	filter: brightness(35%);
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 20px 0;

}

nav ul li {
	display: inline-block;
	float: left;
	padding-right: 15px;
	font-size: 14px;
}

nav li a {
	color: #fff;
}

nav li a:hover {
	border-bottom: 1px solid #28C23E;
}

.selected {
	border-bottom: 1px solid #28C23E;
}

#prevbtn {
	border-radius: 3px;
	position: absolute;
	top: 50%;
	background-color: #707070;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

#nextbtn {
	border-radius: 3px;
	position: absolute;
	top: 50%;
	right: 0%;
	background-color: #707070;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.arrow {
	position: absolute;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
}

.left {
	transform: rotate(135deg);
	top: 40%;
	left: 40%;
}

.right {
	transform: rotate(-45deg);
	top: 40%;
	right: 40%;
}

#slogan {
	position: relative;
	top: 100px;
	color: #fff;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	
}

#slogan h1 {
	font-size: 3.6em;
}

/*About Section for home page*/

.about-btn1 {
	position: relative;
	display: inline-block;
	color: #fff;
	background: #265CDC;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
}


.about-btn2 {
	position: relative;
	display: inline-block;
	color: #fff;
	background: transparent;
	border-radius: 50%;
	border: 1px solid grey;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.arrow-btn {
	position: absolute;
	border: solid #fff;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 2px;
}

.arrow-btn1 {
	position: absolute;
	border: solid #000;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 2px;
}

.left-btn {
	transform: rotate(135deg);
	top: 40%;
	left: 45%;
}

.right-btn {
	transform: rotate(-45deg);
	top: 40%;
	right: 45%;
	color: #000;
}


#about-1 p {
	color: #7A7C7F;
}







/*Footer*/

#copyright {
	background: url('../img/BG.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	clear: both;
}

p#copy {
	
	color: #fff;
	float: left;
	margin: 50px 0;
	font-size: 15px;
}

#copyright ul {
	list-style: none;
	float: right;
	margin: 50px 0;
}

#copyright ul li {
	display: inline-block;
	padding-left: 20px;
}

#copyright span#pri {
	color: #fff;
}

span#terms{
	color: #5699F0;
}

/*Service info*/

#services {
	margin: 130px 0;
}



.service-info {
	float: left;
	width: 30%;
	margin: 1.66%;
	text-align: center;
}

.service-info img {
	filter: brightness(0.5);
}

.service-info a span {
	color: #7A7A7A;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

.service-info a span:hover {
	color: #265CDC;
	transition: ease 1s;
}

#about {

}

#about-pic {
	float: left;
	width: 50%;
	height: 350px;
	background: url("../img/workplace.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#about-desp {
	float: left;
	width: 50%;
	height: 350px;
	background-color: #F7F9FB;
}

#about-1 {
	margin: 50px;
}

#result-container {
	margin: auto;
	overflow: hidden;
	width: 75%;
}

.result-info {
	width: 25%;
	float: left;
	text-align: center;
	margin: 70px 0;
}

.result-num {
	font-size: 2.5em;
	color: #265CDC;
}

/*Skills section*/

#skills {
	background-color: #265CDC;
	color: #fff;
	padding: 60px 0;
}



.skill-info {
	padding-top: 30px;
	width: 25%;
	float: left;
}

.skill-info p {
	width: 70%;
	text-align: left;
}

#staff h3 {
	text-align: center;
}

#staff p {
	text-align: center;
}


.staff-info {
	float: left;
}

.skill-info img {
	width: 25px;
	height: 25px;
}

.skill-info .adj-size {
	width: 17px;
}

/*staff*/

#staff {
	background-color: #F7F9FB;
}


.staff-info {
	width: 30%;
	margin: 1.667%;
	float: left;
	border: 1px solid #E8E9F1;
	border-radius: 1px;
	background-color: #fff;

}

.staff-info:hover {
	box-shadow: 5px 9px 11px #888;
}

.staff-info .staff-person {
	min-width: 100%;
	height: 190px;
	border-radius: 1px 1px 0 0;
}

.staff-info h4 {
	text-align: center;
}

.staff-info p {
	color: #7A7C7F;
	font-size: 0.9em;
}

.staff-info ul {
	list-style-type: none;
	text-align: center;
	margin: 40px auto;
	padding: 0;
}

.staff-info ul li {
	display: inline-block;
}

.staff-info ul li a{
	padding-left: 10px;
	padding-right: 10px;
}


#staff-profiles.staff-info .icon {
	width: 15px;
	margin: 0 auto
}

.staff-info .blue-btm {
	width: 100%;
	height: 5px;
	background-color: #009EFD;
}

.blue-btm:hover {
	background-color: #fff;
}



/*Pricing section*/

#pricing-heading h2 {
	text-align: center;
}

#blue-line {
	height: 2px;
	width: 50px;
	background-color: #265CDC;
	margin: 0 auto;
}

#pricing-heading p {
	text-align: center;
	color: #7A7C7F;
	font-size: 0.8em;
}

/*Pricing cards*/

.pricing-card {
	width: 30%;
	margin: 1.667%;
	float: left;
}

.pricing-card p {
	text-align: center;
	font-size: 15px;
	color: #7A7C7F;
}

.pricing-card span {
	display: block;
	font-size: 50px;
	text-align: center;
}

.grey-line {
	height: 1px;
	width: 250px;
	background-color: #E7E7E7;
	margin: 30px auto;
}

.pricing-card p p{
	color: #7A7C7F;
}

.pricing-btn {
	background-color: transparent;
	color: grey;
	margin: 0 auto;
	display: block;
	border: 1px solid #BABABA;
	padding: 20px 35px;
	border-radius: 30px;
}

#businesses h2 {
	text-align: center;
}